@page "/client/{ClientId:int}"

<PageTitle>Client</PageTitle>

<h1>Client - @ClientId</h1>


<button class="btn btn-primary">Focusable button</button>


@code {

    [Parameter]
    public int ClientId { get; set; }
}
